.loader-container {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.spinner {
  width: 70px;
  height: 70px;

  border: 6px solid #d1d5db;
  border-top: 6px solid #2563eb;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.loader-container p {
  font-size: 18px;
  color: #374151;
  font-weight: 500;
  letter-spacing: 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive */

@media (max-width: 768px) {
  .spinner {
    width: 55px;
    height: 55px;
  }

  .loader-container p {
    font-size: 16px;
  }
}