* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;

  background: #111827;

  color: white;

  padding: 18px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Logo */

.navbar-logo {
  display: flex;
  align-items: center;

  gap: 12px;
}

.logo-icon {
  font-size: 30px;

  color: #3b82f6;
}

.navbar-logo h2 {
  font-size: 28px;
  font-weight: 700;
}

/* Links */

.navbar-links {
  display: flex;
  align-items: center;

  gap: 25px;
}

.navbar-links li {
  list-style: none;

  color: white;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.3s ease;
}

.navbar-links li:hover {
  color: #3b82f6;
}

/* Active */

.active-nav {
  color: #3b82f6;

  font-weight: 700;

  position: relative;
}

.active-nav::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 100%;
  height: 2px;

  background: #3b82f6;
}

/* Responsive */

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;

    gap: 20px;

    padding: 20px;
  }

  .navbar-links {
    flex-wrap: wrap;

    justify-content: center;

    gap: 18px;
  }
}

@media (max-width: 600px) {
  .navbar-logo h2 {
    font-size: 24px;
  }

  .navbar-links li {
    font-size: 14px;
  }
}